{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature2 -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="feature2">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="content-block">
					<h2>Feira da Cidade Nova</h2>
					<p>A feira da Cidade Nova etc etc</p>
					<div class="row">
						<div class="col-lg-6">
							<div class="media">
								<div class="align-self-start mr-3">
									<i class="{{ . }}"></i>
								</div>
								<div class="media-body">
									<h3 class="media-heading">Sons da feira</h3>
									<audio controls="controls" src="audios/cddnova/chegada_mascara2reais.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>Chegada na feira pela Rua Dois</p>
									<audio controls="controls" src="audios/cddnova/eii.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>Ei!</p>
									<audio controls="controls" src="audios/cddnova/pomada_copaiba.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>Deu duro? Pomada copaíba.</p>
									<audio controls="controls" src="audios/saida_feira.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>Saída da feira pela Rua Cinco</p>
								</div>
							</div>
						</div>
						<div class="mapouter">
							<div class="gmap_canvas"><iframe width="360" height="360" id="gmap_canvas" src="https://maps.google.com/maps?q=Feirinha%20da%20Cidade%20Nova&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 padding-0" style="background-image: url(images/feat/IMG_5403.webp); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 600px;">
				<img src="images/feat/IMG_5403.webp" style="display: none;">
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature2 -->" | safeHTML}}
{{ end }}
{{ end }}
