{{ $data := index site.Data site.Language.Lang }}

{{ if $data.cta.cta.enable}}
{{ with $data.cta.cta}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section id="cta" class="call-to-action section-sm bg-1 overly" style='background-image: url(images/cta/IMG_2427.webp)'>
	<img src="images/cta/IMG_2427.webp" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Dia de Feira</h2>
				<p>O Dia de Feira é um projeto cultural que registrou as feiras de nossa cidade <br> através de imagens (vídeos e fotos), sons (entrevistas e som ambiente) e texto.</p>
				<!-- <p>A cidade de Feira de Santana tem o seu surgimento marcado pelo comércio de gado,<br> sendo um conhecido pouso de vaqueiros e rebanhos; cenário ideal para o agrupamento de <br> outros comerciantes que se dirigiam a esses locais a fim de trocar e negociar seus produtos <br> (agrícolas, artesanais, culinários entre outros), dando origem a primeira feira livre que futuramente nomearia a cidade. <br> Sendo assim, as feiras e o comércio fazem parte da identidade histórica de Feira de Santana.</p> -->
			</div>
		</div>
	</div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
{{ end }}
