{{ $data := index site.Data site.Language.Lang }}

{{ if $data.cta.cta.enable}}
{{ with $data.cta.cta}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section id="cta" class="call-to-action section-sm bg-1 overly" style='background-image: url(images/cta/IMG_5400.webp)'>
	<img src="images/cta/IMG_5400.webp" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p>
					Apesar da participação fundamental das feiras livres e de seus trabalhadores para a construção da cidade,
					contamos com poucos produtos culturais que os protagonizem. Salvaguardar a memória local é sempre um serviço para a sociedade,
					para que a história da comunidade possa alcançar as próximas gerações e evidenciar os reais agentes da dinâmica social de uma localidade fundada a partir das feiras e do comércio de rua.
				</p>
				<!-- <h2>Dia de Feira</h2>
				<p>O Dia de Feira é um projeto cultural que registrou as feiras de nossa cidade.</p>
				<p>Fizemos o registro de imagens, sons e video.</p> -->
			</div>
		</div>
	</div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
{{ end }}
