{{ $data := index site.Data site.Language.Lang }}

{{ if $data.cta.cta.enable}}
{{ with $data.cta.cta}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section id="cta" class="call-to-action section-sm bg-1 overly" style='background-image: url(images/cta/IMG_5406.webp)'>
	<img src="images/cta/IMG_5406.webp" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p>Entendemos como fundamental que os trabalhadores e trabalhadoras se percebam também protagonistas, não apenas do projeto, como de toda a dinâmica socioeconômica e cultural de Feira de Santana, daí a necessidade de exibição do documentário nas feiras, enaltecendo seus profissionais.</p>
				<!-- <h2>Dia de Feira</h2>
				<p>O Dia de Feira é um projeto cultural que registrou as feiras de nossa cidade.</p>
				<p>Fizemos o registro de imagens, sons e video.</p> -->
			</div>
		</div>
	</div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
{{ end }}
