{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature2 -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="feature2">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="content-block">
					<h2>Feira da Estação Nova</h2>
					<p>A feira da estação nova etc etc</p>
					<div class="row">
						<div class="col-lg-6">
							<div class="media">
								<div class="align-self-start mr-3">
									<i class="{{ . }}"></i>
								</div>
								<div class="media-body">
									<h3 class="media-heading">Áudios da feira</h3>
									<audio controls="controls" src="audios/alarm.wav">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>Uma breve legenda do áudio de cima</p>
									<audio controls="controls" src="audios/alarm.wav">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>Uma breve legenda do áudio de cima</p>
								</div>
							</div>
						</div>
						<div class="mapouter">
							<div class="gmap_canvas"><iframe width="360" height="360" id="gmap_canvas" src="https://maps.google.com/maps?q=%22Feira%20da%20Esta%C3%A7%C3%A3o%20Nova%22&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 padding-0" style="background-image: url(images/feat/IMG_2476.webp); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 600px;">
				<img src="images/feat/IMG_2476.webp" style="display: none;">
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature2 -->" | safeHTML}}
{{ end }}
{{ end }}
