{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature2 -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="feature2">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 padding-0" style="background-image: url(images/feat/IMG_2297.webp); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 600px;">
				<img src="images/feat/IMG_2297.webp" style="display: none;">
			</div>
			<div class="col-lg-6 padding-0" style="background-image: url(images/feat/IMG_2301.webp); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 600px;">
				<img src="images/feat/IMG_2301.webp" style="display: none;">
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature2 -->" | safeHTML}}
{{ end }}
{{ end }}
