{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature2 -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="feature2">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 padding-0" style="background-image: url(images/feat/IMG_5385.webp); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 600px;">
				<img src="images/feat/IMG_5385.webp" style="display: none;">
			</div>
			<div class="col-lg-6">
				<div class="content-block">
					<h2>Feira do Sobradinho</h2>
					<p>A feira do Sobradinho etc etc</p>
					<div class="row">
						<div class="col-lg-6">
							<div class="media">
								<div class="align-self-start mr-3">
									<i class="{{ . }}"></i>
								</div>
								<div class="media-body">
									<h3 class="media-heading">Sons da feira</h3>
									<audio controls="controls" src="audios/sobradinho/samba_chegada.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>Samba na chegada pela Rua Dep. Rui Santos!</p>
									<audio controls="controls" src="audios/sobradinho/compra_banana.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>Som próximo à Rua Humaitá</p>
									<audio controls="controls" src="audios/sobradinho/barraca_negao.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>"Cadê a máscara?" "Minha proteção é Jesus" "Né assim não!"</p>
									<audio controls="controls" src="audios/sobradinho/som_diversos.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>Uma volta pela feira.</p>
									<audio controls="controls" src="audios/sobradinho/samba_saida.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>Samba continua na saída.</p>
								</div>
							</div>
						</div>
						<div class="mapouter">
							<div class="gmap_canvas"><iframe width="360" height="360" id="gmap_canvas" src="https://maps.google.com/maps?q=R%20Bartolomeu%20de%20Gusm%C3%A3o,%20232&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature2 -->" | safeHTML}}
{{ end }}
{{ end }}
