{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="feature">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 padding-0" style="background-image: url(images/feat/IMG_2485.webp); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 600px;">
				<img src="images/feat/IMG_2485.webp" style="display: none;">
			</div>
			<div class="col-lg-6">
				<div class="content-block">
					<h2>Feira do Tomba</h2>
					<p>A feira livre do Tomba localiza-se diariamente na Praca Macario Barreto, 158, a praça do Tomba.</p>
					<p> com mais movimento aos sábados e domingos.</p>
					<p>Os áudios foram gravados entre os dias 12 de Setembro e 24 de Outubro de 2021.</p>
					<div class="row">
						<div class="col-lg-6">
							<div class="media">
								{{with .icon}}
								<div class="align-self-start mr-3">
									<i class="{{ . }}"></i>
								</div>
								{{ end }}
								<div class="media-body">
									<h3 class="media-heading">Sons da feira</h3>
									<audio controls="controls" src="audios/tomba/chegada_feira.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>Chegada na feira pela pastelaria.</p>
									<audio controls="controls" src="audios/tomba/passeio_feira.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<audio controls="controls" src="audios/tomba/som_ohmilto.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>Passeio pela feira.</p>
									<audio controls="controls" src="audios/tomba/qt_tempo_essa_feira.mp3">
										Áudio não suportado pelo seu navegador.
									</audio>
									<p>História da feira do Tomba.</p>
								</div>
							</div>
						</div>
						<div class="mapouter">
							<div class="gmap_canvas"><iframe width="360" height="360" id="gmap_canvas" src="https://maps.google.com/maps?q=Praca%20Macario%20Barreto,%20158&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}
