{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "about.html" . }}

{{ partial "cta.html" . }}

{{ partial "estacao.html" . }}

{{ partial "cta2.html" . }}

{{ partial "tomba.html" . }}

{{ partial "cta3.html" . }}

{{ partial "cidadenova.html" . }}

{{ partial "cta4.html" . }}

{{ partial "sobradinho.html" . }}

{{ partial "cta5.html" . }}

{{ partial "montagem.html" . }}
<!-- {{ partial "montagem.html" . }}
{{ partial "montagem.html" . }}
{{ partial "montagem.html" . }} -->

{{ partial "testimonial.html" . }}

{{ partial "portfolio.html" . }}

{{ end }}